asgiref==3.8.1
cffi==2.0.0
cryptography==46.0.3
Django==5.2.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
dotenv==0.9.9
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.3.0
pandas==2.3.0
pillow==12.0.0
pycparser==2.23
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-http-client==3.3.7
pytz==2025.2
sendgrid==6.12.5
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
Werkzeug==3.1.4
